{% extends "home.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/add_account.css" />
{% endblock %}

{% block main_container %}

    <form method="post">
        {% csrf_token %}
        <label>First name:</label>
        <input type="text" id="first_name" name="first_name" placeholder="Jane" required>

        <label>Last name:</label>
        <input type="text" id="last_name" name="last_name" placeholder="Doe" required>

        <label>Email address:</label>
        <input type="email" id="email_addr" name="email_addr" required>

        <label>Repeat email address:</label>
        <input type="email" id="email_addr_repeat" name="email_addr_repeat" required
               oninput="check(this)">

        <label>Password:</label>
        <input type="password" id="pw_id" name="pw_id" required>

        <label>Repeat Password</label>
        <input type="password" id="pw_id_repeat" name="pw_id_repeat" required
                oninput="check(this)">

        <br><br>
        <input type="submit" value="Create Account" formmethod="POST" />
    </form>

    <script>
        function check(input) {
            if (input.value != document.getElementById('email_addr').value) {
                input.setCustomValidity('The two email addresses must match.');
            } else {
                // input is valid -- reset the error message
                input.setCustomValidity('');
            }
        }
    </script>
{% endblock %}

