{% extends "home.html" %}
{% block main_container %}
    <form>
        <table>
            <tr>
                <td>
                <label class="check_memo"> Check Memo </label>
                </td>
                <td>
                <input class="check_memo" placeholder="Enter Memo" type="text" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="check_amount"> Check Amount </label>
                </td>
                <td>
                    <input class="check_amount" type="range" min="0" max="100000" step="1" value="10" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="check_submit" type="submit" value="Add Check">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="check_memo"> Check Memo </label>
                </td>
                <td>
                    <input class="check_memo" placeholder="Enter Memo" type="text" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="check_date" type="date" required>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}